.fill-remaining-space {
  flex: 1 1 auto;
}

.weathers {
  display: flex;
  justify-content: center;
}

.weather-action {
  padding-left: 30px;
}

.weather {
  padding-bottom: 50px;
}

mat-icon {
  cursor: pointer;
}
