.fill-remaining-space {
  flex: 1 1 auto;
}

.weathers {
  display: flex;
  justify-content: center;
}

.weather-action {
  padding-left: 30px;
}

.weather {
  padding-bottom: 50px;
}

.weather-temperature {
  padding: 5px;
  text-align: center;
  width: 100%;
}

.weather-temperature-value {
  font-size: xx-large;
}

mat-icon {
  cursor: pointer;
}
